# Python in Data Science

***

# Part 1 - Introduction
## Python (2 of 2)

***

# Exercise 1

Create a function that counts the occurences on a list
eg.

count( [1, 2, 3, 4, 1, 2, 1] )

{ 1: 3, 2: 2, 3: 1, 4: 1 }

In [1]:
def count(input_list):
    counter = {}
    for i in input_list:
        counter[i] = counter.get(i, 0) + 1
    return counter

In [2]:
count([1])

{1: 1}

In [3]:
count([1, 1, 1])

{1: 3}

In [4]:
count([1, 2, 1])

{1: 2, 2: 1}

In [5]:
count( [1, 2, 3, 4, 1, 2, 1] )

{1: 3, 2: 2, 3: 1, 4: 1}

# Exercise 2

Create a function that prints with "*" a christmas tree of a given height

xmas_tree(7)


       *
      ***
     *****
    *******
   *********
  ***********
 *************
       *
      ***

In [16]:
print(" "*5+"*"*7)

     *******

In [19]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [20]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [10]:
def xmas_tree(level):
    S=" "
    G="*"
    for i in range(1,level+1):
        print ( S*(level-i) + G*(2*i-1) )
    print( S*(level-1) + G )
    print( S*(level-2) + G*3 )

In [11]:
xmas_tree(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
      *
     ***

In [3]:
xmas_tree(3)

  *
 ***
*****
  *
 ***

In [4]:
xmas_tree(12)

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
           *
          ***

# Exercise 3

Write a function that spells out a number between 1 and 999999999

spell(1984)
'one thousand nine hundred eighty-four'

In [59]:
def do999(n):
    UNITS = { 0: "", 1: "one", 2: "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"}
    TEENS = { 11: "eleven", 12: "twelve", 13: "thirteen", 14: "fourteen", 15: "fifteen", 16: "sixteen", 17: "seventeen", 18: "eighteen", 19: "nineteen"}
    TENS = { 0: "", 10: "ten", 20: "twenty", 30: "thirty", 40: "fourty", 50: "fifty", 60: "sixty", 70: "seventy", 80: "eighty", 90: "ninety"}
    H = "hundred"
    T = "thousand"
    M = "million"
    
    result = [n] 
    
    units = n % 10
    result =  [ (units,UNITS[units]) ]
    
    n = n - units
    tens = n % 100
    
    if tens == 10 and units > 0:
        curr_sum = tens+units
        result = [ (curr_sum, TEENS[curr_sum]) ]
    else:
        result = [ (tens,TENS[tens]) ]  + result
        
    n -= tens
    hundreds = n % 1000
    hundreds /=100
    if hundreds:
        result= [ (hundreds,f'{UNITS[hundreds]} {H}') ] + result
    
    return result

In [60]:
do999(0)

[(0, ''), (0, '')]

In [61]:
do999(37)

[(30, 'thirty'), (7, 'seven')]

In [62]:
do999(231)

[(2.0, 'two hundred'), (30, 'thirty'), (1, 'one')]

In [63]:
do999(211)

[(2.0, 'two hundred'), (11, 'eleven')]

In [64]:
do999(112)

[(1.0, 'one hundred'), (12, 'twelve')]

In [65]:
def add_unit(input_list, unit):
    val = 0
    for i in input_list:
        val += i[0] 
        
    if val==0:
        return input_list

    input_list.append( (input_list[-1][0], unit))
    return input_list

In [66]:
add_unit([(1.0, 'one hundred'), (12, 'twelve')], "thousand")

[(1.0, 'one hundred'), (12, 'twelve'), (12, 'thousand')]

In [67]:
def glue(input_list):
    res = ""
    S = " "
    for i in input_list:
        if len(i[1])>0:
            res += S + i[1]
    return res.strip()

In [68]:
glue(add_unit([(1.0, 'one hundred'), (12, 'twelve')], "thousand"))

'one hundred twelve thousand'

In [69]:
def _spell(n):
    res = do999(n%1000)
    if n>999:
        n=n//1000
        res = add_unit(do999(n%1000), "thousand") + res
    if n>999:
        n=n//1000
        res = add_unit(do999(n%1000), 'milion') + res
    if n>999:
        n=n//1000
        res = add_unit(do999(n%1000), 'billion') + res
        
    return res

In [70]:
_spell(1984)

[(0, ''),
 (1, 'one'),
 (1, 'thousand'),
 (9.0, 'nine hundred'),
 (80, 'eighty'),
 (4, 'four')]

In [71]:
_spell(369017002011)

[(3.0, 'three hundred'),
 (60, 'sixty'),
 (9, 'nine'),
 (9, 'billion'),
 (17, 'seventeen'),
 (17, 'milion'),
 (0, ''),
 (2, 'two'),
 (2, 'thousand'),
 (11, 'eleven')]

do999 -------------\
                    ------> _spell -----> glue -----> spell 
add_unit ---/

In [72]:
def spell(n):
    res = glue(_spell(n))
    return res.strip()

In [73]:
spell(1984)

'one thousand nine hundred eighty four'

In [74]:
spell(1000000000)

'one billion'

In [76]:
spell(369017002011)

'three hundred sixty nine billion seventeen milion two thousand eleven'

---

## Python
- ### Passing function arguments
- ### Control statements
- ### Data Structures
    - ### Sets
    - ### List comprehension
    - ### Sorting
---
## Passing function arguments

In [6]:
int("10")

10

In [7]:
int("10", base=2)

2

In [8]:
def more(x, how_much=2):
    return how_much*x

In [9]:
more(100)

200

In [10]:
more(100, how_much=10)

1000

In [11]:
def xmas_tree(poziom, separator=" ", sign="*"):
    S=separator
    G=sign
    for i in range(1,poziom+1):
        print ( S*(poziom-i) + G*(2*i-1) )
    print( S*(poziom-1) + G )
    print( S*(poziom-2) + G*3 )

In [13]:
xmas_tree(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
      *
     ***

In [14]:
xmas_tree(sign='#', poziom=7)

      #
     ###
    #####
   #######
  #########
 ###########
#############
      #
     ###

In [15]:
def test_var_args(farg, *args):
    print ("formal arg:", farg)
    print(args)
    for arg in args:
        print ("another arg:", arg)

In [16]:
test_var_args(1, "two", 3)

formal arg: 1
('two', 3)
another arg: two
another arg: 3

In [17]:
def test_var_kwargs(farg, **kwargs):
    print ("formal arg:", farg)
    for key in kwargs:
        print ("another keyword arg: %s: %s" % (key, kwargs[key]))
    print (kwargs)

In [18]:
test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3
{'myarg2': 'two', 'myarg3': 3}

## Control statements

In [19]:
n = 1
if n==0:
    name = "zero"
else:
    name = "not zero"
    
name

'not zero'

In [20]:
name = "zero" if n==0 else "not zero"
name

'not zero'

In [21]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [22]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n==2: 
        break

4
3
2

In [23]:
list1 = list(range(7))
list1

[0, 1, 2, 3, 4, 5, 6]

In [24]:
list1.pop()

6

In [25]:
list1

[0, 1, 2, 3, 4, 5]

In [27]:
while list1:
    print(list1.pop())

5
4
3
2
1
0

In [28]:
list1

[]

## sets

In [29]:
set1 = set()

In [30]:
set1.add(3)
set1.add(4)
set1.add(3)
set1

{3, 4}

In [31]:
set1 = {3, 4, 5}

In [87]:
set1.add(3)
set1.add(4)
set1.add(7)
set1

{3, 4, 5, 7}

## List comprehension

### Generator Expressions

x for x in range(10)

x*x for x in range(10)

(x*y for x in range(10) for y in range(x))

x*x for x in range(10) if x % 2 == 0

List + Generator Expression
           =     
    List comprehension

In [88]:
[ x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
[ x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [90]:
[ x*x for x in range(10) if x % 2 == 0 ]

[0, 4, 16, 36, 64]

## Dict comprehension

In [91]:
{ x:x*x for x in range(10) if x % 2 == 0 }

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [92]:
(x*y for x in range(10) for y in range(x))

In [93]:
[(x, y, x*y) for x in range(5) for y in range(x)]

[(1, 0, 0),
 (2, 0, 0),
 (2, 1, 2),
 (3, 0, 0),
 (3, 1, 3),
 (3, 2, 6),
 (4, 0, 0),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12)]

## Sortowanie list

In [80]:
list1 = list(range(10, 0, -1))
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
list1.sort(reverse=True)
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [83]:
list1 = [ str(i) for i in range(21)]
str(list1)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"

In [84]:
list1.sort()
str(list1)

"['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '3', '4', '5', '6', '7', '8', '9']"

In [85]:
def int_val(s):
    return int(s)

In [86]:
list1.sort(key=int_val)
str(list1)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"

In [87]:
long_list = [ str(i) for i in range(21)] + [ str(i) for i in range(-1, -21, -1)]
str(long_list)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '-1', '-2', '-3', '-4', '-5', '-6', '-7', '-8', '-9', '-10', '-11', '-12', '-13', '-14', '-15', '-16', '-17', '-18', '-19', '-20']"

---
## Exercise 1 - easy

Sort `long_list` according to the absolute value (ie. forget about the `-`)

## Exercise 2 - medium

Generate numbers in the range `1-1000` that are NOT divisible by any number between `2` and `9`.

## Exercise 3 - hard

Create a function that 'flattens' lists

`l = [4, 1, [ 2, [7] ], 3]`

`flatten(l)`

`[4, 1, 2, 7, 3]`